@import 'config';

body.active footer {
  h2 {
    color:var(--options)  ;
  }

  p {
    font-weight:400;
  }
}

footer {
  width:100vw;
  position:absolute;
  bottom:0;
  padding:.25rem 0;
  gap:rem(722);

  &, article, div {
    @include flex;
  }

  article {
    gap:rem(14);
    position:relative;
    top:rem(-4);
  }

  h2 {
    font-size:rem(12);
    font-weight:300;
    letter-spacing:rem(1);
    color:var(--transparent);

    &:after {
      @include weight;
      content:"_";
      font-size:rem(16);
      margin-top:rem(-4);
      position:absolute;
      animation:code 2.7s linear infinite;
    }
  }

  p {
    @include weight;
    color:var(--main-color);
    font-size:rem(13);
  }

  div {
    gap:rem(12);

    svg {
      width:rem(21);
    }
  }
}
