@import 'keyframes';

header {
  position:absolute;
  top:0;
  gap:rem(942);
  left:0;
  width:100vw;
  z-index:3;
  background:var(--erie-plati);
  animation:header-absolute .3s linear forwards;

  &, nav {
    @include flex;
  }

  nav {
    top:rem(-1);
    gap:rem(19);

    &, svg {
      position:relative;
    }

    svg {
      width:rem(19);
      top:rem(1);
      opacity:.8;

      path {
        fill:var(--main-color);
      }
      
    }
  }
  
  &.fixed {
    animation:header-fixed .4s linear forwards;
  }

  h1, svg {
    cursor:pointer;
  }

  h1 {
    font-size:rem(22);

    &:after {
      content:"_";
      font-size:rem(25);
      margin-top:rem(-1);
      position:absolute;
      animation:code 2.7s linear infinite;
    }
  }

  a {
    font-size:rem(12);
    background:$blue-white;
    color:$platina;
    font-weight:400;
    letter-spacing:rem(1);
    padding:rem(6) rem(21) rem(5) rem(21);
    border-radius:rem(3);
    
    &, &:hover {
      @include transition;
    }

    &:hover {
      box-shadow:0px 0px 6px 3px rgba(49,133,252,.3);
    }
  }
}