@import 'config';

//header 
@keyframes header-absolute {
  from {
    padding-bottom:rem(5);
    padding-top:rem(8);
  }

  to {
    padding-bottom:rem(11);
    padding-top:rem(12);
  }
}

@keyframes header-fixed {
  from {
    padding-bottom:rem(11);
    padding-top:rem(12);
  }

  to {
    padding-bottom:rem(5);
    padding-top:rem(8);
  }
}

@keyframes header-fixed-smartphone {
  from {
    padding-bottom:rem(11);
    padding-top:rem(12);
  }

  to {
    padding-bottom:rem(7);
    padding-top:rem(8);
  }
}

//header and footer
@keyframes code {
  0% {
    opacity:.1;
  }

  50% {
    opacity:1;
  }

  100% {
    opacity:.1;
  }
}

//main
@keyframes show-from-bottom {
  from {
    opacity:0;
    transform:translateY(.6rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes show-from-top {
  from {
    opacity:0;
    transform:translateY(-.6rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes show-from-right {
  from {
    transform:translateX(.6rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes show-from-left {
  from {
    transform:translateX(-.6rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes to-appear {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}
