@import 'config';

body.active .handle-projects button {
  font-weight:300;
}

main {
  .name-social {
    margin-top:10rem;
    gap:rem(21);

    &, article {
      @include grid;
    }

    h1 {
      color:var(--main-title);
      font-size:rem(36);
      @include from-top;
    }
    
    span {
      color:var(--opaque);
      font-size:rem(18);
      animation:to-appear .6s linear forwards;

      @include weight;
    }

    .network {
      @include from-bottom;
      @include flex;
      gap:rem(11);
    }
  }

  .handle-projects {
    @include from-top;
    background:var(--jet-platinum);
    padding:rem(7) rem(8);
    @include flex;
    margin-top:2.5rem;
    gap:rem(5);

    & {
      border-radius:rem(24);
    }

    button {
      border-radius:rem(18);
      cursor:pointer;
      color:var(--options);
      background:transparent;
      font-size:rem(16);
      width:rem(145);
      padding:rem(9) 0;
      @include weight;

      &, &.active, &:hover { 
        @include transition;
      }

      &.active, &:hover {
        background:var(--erie-plati);
      }

      @include weight;
    }
  }

  .projects {
    display:none;
  }

  .projects.active {
    @include flex;
    width:rem(736);
    flex-wrap:wrap;
    gap:rem(18);
    row-gap:rem(21);
    margin-top:rem(27);
    
    a {
      display:flex;
      align-items:end;
      position:relative;
      width:rem(350);
      height:rem(250);
      color:$white-opaque;
      overflow:hidden;
      @include transition;

      &:nth-child(even) {
        @include from-right;
      }

      &:nth-child(odd) {
        @include from-left;
      }

      &:nth-child(5) img {
        filter:brightness(40%);
      }
      
      &, img {
        border-radius:rem(7);
      }

      &:hover {
        @include transition;

        img {
          transition:.6s;
          transform:scale(1.1);
          filter:brightness(80%);
        }
      }
    }

    img {
      position:absolute;
      object-fit:cover;
      z-index:-1;
      width:100%;
      height:100%;
      filter:brightness(70%);
      transition:.6s;
    }

    article {
      z-index:1;
      height:rem(60);
      position:relative;
      left:rem(12);
      bottom:rem(12);
      display:grid;
      place-items:left;

      h2 {
        letter-spacing:rem(1);
        font-weight:300;
        font-size:rem(16);
      }
    }

    svg {
      width:rem(23);
    }
  }

  .skills {

  }
}
