@import 'config';

body.active .handle-projects button {
  font-weight:300;
}

body.active .name-social span {
  font-weight:300;
}

main {
  .name-social {
    margin-top:10rem;
    gap:rem(21);

    &, article {
      @include grid;
    }

    h1 {
      color:var(--main-title);
      font-size:rem(36);
      @include from-top;
    }
    
    span {
      color:var(--opaque);
      font-size:rem(18);
      animation:to-appear .6s linear forwards;

      @include weight;
    }

    .network {
      @include from-bottom;
      @include flex;
      gap:rem(11);
    }
  }

  .handle-projects {
    @include from-top;
    background:var(--jet-platinum);
    padding:rem(7) rem(8);
    @include flex;
    margin-top:2.5rem;
    gap:rem(5);

    &, button {
      border-radius:rem(36);
    }

    button {
      cursor:pointer;
      color:var(--options);
      background:transparent;
      font-size:rem(14);
      width:rem(145);
      padding:rem(9) 0;
      @include weight;

      &, &.active, &:hover { 
        @include transition;
      }

      &.active, &:hover {
        background:var(--erie-plati);
      }

      @include weight;
    }
  }
}
