body {
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:var(--erie-plati);
  }

  &::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border:.375rem solid var(--main-color);
  }
}