@import 'config';
@import 'mixins';

body.active {
  main, footer {
    a:first-child svg:hover path:last-child {
      fill:$platina;
    }

    a:last-child svg {
      path {
        fill:var(--main-color);
      }
  
      &, &:hover {
        @include transition;
      }
  
      &:hover path {
        fill:$tang;
      }
    }
  }
}

.network { 
  a:before, a:hover:before {
    @include transition;
  }

  a:hover:before {
    background:$platina;
  }

  a:before {
    content:'';
    position:absolute;
    margin-top:rem(1.5);
    border-radius:rem(7);
    z-index:-1;
    background:var(--erie-plati);
  }

  a:first-child svg {
    path:first-child {
      fill:var(--main-color);
    }

    path:last-child {
      fill:var(--erie-plati);
    }

    &:hover {
      path:first-child {
        fill:$tang;
      }

      path:last-child {
        fill:var(--main-color);
      }
    }
  }

  a:nth-child(2) svg {
    path {
      fill:var(--main-color);
    }

    &, &:hover {
      @include transition;
    }

    &:hover path {
      fill:$tang;
    }
  }

  svg {
    & path, &:hover path {
      @include transition;
    }

    &:hover path {
      fill:$tang;
    }
  }
}

main a:before {
  width:rem(22);
  height:rem(22);
}

footer a:before {
  width:rem(21);
  height:rem(19);
}
