@import 'config';
@import 'keyframes';
@import 'mixins';

*, *:before, *:after {
  border:0;
  margin:0;
  padding:0;
  box-sizing:border-box;
  border-spacing:0;
}

*:focus {
  outline:none;
}

html, body {
  overflow-x:hidden;
}

body {
  background:var(--erie-plati);
  color:var(--main-color);
  overflow-y:auto;

  body, main {
    @include grid;
  }

  main, section, footer {
    overflow:hidden;
  }

  h1 {
    @include weight;
  }

  a {
    text-decoration:none;
  }
}

@import 'scrollbar';

@import 'header';
@import 'main';

@import 'projects';
@import 'skills';

@import 'svg';
@import 'footer';
